.App {
  text-align: center;
  margin:0 auto;
  width: 100%;
  padding: 10px;
  position: relative;
  
}


body{
  font-size: 18px;
  background: url("https://source.unsplash.com/WLUHO9A_xik/") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#quote-box{
  background-color: #f0f8ff;
  padding: 30px;
  margin-top: 50px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 50%);
}